{% extends 'base.html.twig' %}

{% block title %}ERROR 404 NOT FOUND{% endblock %}

{% block body %}
    <h1>ERROR 404 NOT FOUND</h1>
    <p>La página que estaba buscando no se ha podido encontrar.</p>
{% endblock %}