{% extends 'base.html.twig' %}

{% block title %}UPS! Algo salio mal{% endblock %}

{% block body %}
    <h1>Algo ha salido mal</h1>
    <p>La página que estaba buscando no se ha podido encontrar.</p>
{% endblock %}